[env]
DATABASE_URL="postgres://postgres:loopdedupedev@localhost:5432/postgres"
ENVIRONMENT="dev"
_.file = 'secret.env'

[tasks.dev]
depends = ["dev:postgres", "generate:sql"]
run = "gleam run"
description = "Run dev server"

[tasks."dev:postgres"]
run = "docker compose up -d"
description = "Start postgres for dev server"

[tasks."dev:postgres:down"]
run = "docker compose down -v"
description = "Destroy dev postgres instance"

[tasks."dev:reset"]
run = [
    { task = "dev:postgres:down"},
    { task = "dev:postgres"},
    "gleam run -m cigogne up",
    { task = "generate:sql"}
]

[tasks."generate:migration"]
run = "gleam run -m cigogne new --name ${usage_name}"
description = "Generate new migration file"
usage = '''
arg "name" help="Name of the new migration"
'''

[tasks."generate:sql"]
run = "gleam run -m squirrel"
description = "Generate sql bindings"

[tools]
erlang = "latest"
rebar = "latest"
usage = "latest"
